@font-face {
    font-family:"Estedad";
    src: url(../fonts/estedad/Estedad-Medium.ttf) format("truetype");
}

@font-face {
    font-family:"EstedadLight";
    src: url(../fonts/estedad/Estedad-Light.ttf) format("truetype");
}

@font-face {
    font-family:"EstedadExteraLight";
    src: url(../fonts/estedad/Estedad-ExtraLight.ttf) format("truetype");
}


body {
    font-family: 'Estedad';
}

.font-light-estedad {
    font-family: "EstedadLight";
    margin: 10px auto;
    padding-right: 50px;
    margin-right: 99px;
}

.font-light-estedadd {
    font-family: "EstedadLight";
}